<!DOCTYPE html>
<html lang="esp" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <script src="https://kit.fontawesome.com/d8ef41d054.js" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
<meta charset="UTF-8">
<title>List of Officers | PathAsignator</title>
</head>
<body>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Path<span>Asignator</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li class="active"><a href="/officers">Agentes de tránsito</a></li>
          <li><a href="/paths">Vías</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
  	<div class="container">
  		<h2 style="margin-bottom: 35px;">Oficiales de tránsito en servicio</h2>                                                    
  		<div class="table-responsive">          
  			<table class="table" style="color: white;">
    			<thead>
      				<tr>
        				<th>código</th>
        				<th>Nombre</th>
        				<th>Años de experiencia</th>
        				<th>Codigo de secretaría de tránsito</th>
        				<th>Id de la vía que se encuentra</th>
      				</tr>
    			</thead>
    			<tbody>
      				<tr th:each="officer : ${officers}">
        				<td th:text="${officer.code}">1</td>
        				<td th:text="${officer.name}">Anna</td>
        				<td th:text="${officer.yearsOfExperience}">Pitt</td>
        				<td th:text="${officer.transitSecretaryCode}">35</td>
        				<td th:text="${officer.actualPathId}">New York</td>
      				</tr>
    			</tbody>
  			</table>
  		</div>
	</div>
  </section><!-- End Hero -->
</body>
</html>