<!DOCTYPE html>
<html lang="esp" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <script src="https://kit.fontawesome.com/d8ef41d054.js" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta charset="UTF-8">
<title>List of Paths | PathAsignator</title>
</head>
<body>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Path<span>Asignator</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/officers">Agentes de tránsito</a></li>
          <li class="active"><a href="/paths">Vías</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
  	<div class="container">
  		<h2 style="margin-bottom: 35px;">Vías asignadas</h2>                                                    
  		<div class="table-responsive">          
  			<table class="table" style="color: white;">
    			<thead>
      				<tr>
        				<th id="paths__code">código</th>
        				<th id="paths__typePath">tipo de vía</th>
        				<th id="paths__strOrKr">¿Es calle o carrera?</th>
        				<th id="paths__number">Número de calle o carrera</th>
        				<th id="paths__traffic">Tráfico</th>
        				<th id="paths__ecit">Editar</th>
        				<th id="paths__delete">Eliminar</th>
      				</tr>
    			</thead>
    			<tbody>
      				<tr th:each="path : ${paths}">
        				<td th:text="${path.id}"></td>
        				<td th:text="${path.type}"></td>
        				<td th:text="${path.isStreetOrKr}"></td>
        				<td th:text="${path.number}"></td>
        				<td th:text="${path.traffic}"></td>
        				<td><a th:href="@{/editPath(id_path=${path.id},type_path=${path.type},str_or_kr=${path.isStreetOrKr},number_path=${path.number},traffic_path=${path.traffic})}"><i class="fas fa-pencil-alt"></i></a></td>
        				<td><a th:href="@{/deletePath(id_path=${path.id})}"><i class="fas fa-trash-alt"></i></a></td>
      				</tr>
    			</tbody>
  			</table>
  		</div>
	</div>
  </section><!-- End Hero -->
</body>
</html>